{# Areas Covered - Variant 3 #}
<div class="bg-gray-100 py-8">
  <div class="container">
    <div class="flex flex-wrap md:-mx-4">
      {% for location in locations %}
        <div class="w-full md:w-1/2 lg:w-4/12 md:px-4 mb-8">
          <div class="bg-white rounded-lg shadow-lg px-6 py-3 md:px-8 md:py-4 lg:py-6">
            <span class="text-primary text-lg block">{{ location.title }}</span>
            <a href="tel:{{ location.number }}" class="text-secondary hover:text-secondary-dark focus:text-secondary-dark block font-bold text-lg md:text-xl">{{ location.number }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>