{# Buckets - Variant 2 #}
<div class="bg-gray-200 py-8">
  <div class="container">
    <div class="flex flex-wrap md:-mx-5">
      {% for bucket in buckets %}
        <a href="{{ bucket.link }}" class="w-full md:w-1/2 lg:w-1/4 md:px-5 mb-8 lg:mb-0 group">
          <div class="bg-white rounded-lg">
            <div class="flex flex-wrap justify-center">
              {% if bucket.image %}
                <div class="w-full">
                  <img class="rounded-t-lg block w-full" src="{{ bucket.image.src }}" alt="{{ bucket.image.title }}" />
                </div>
              {% endif %}

              {% if bucket.heading %}
                <div class="w-full flex flex-wrap items-center p-4">
                  <span class="block text-xl md:text-2xl uppercase tracking-wider leading-tight flex-1 group-hover:text-primary group-focus:text-primary">{{ bucket.heading }}</span>

                  <span class="bg-secondary group-hover:bg-primary group-focus:bg-primary text-center border-2 border-transparent rounded-md text-white block py-1 px-3 ml-auto">&raquo;</span>
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>