{# Areas Covered - Variant 2 #}
<div class="bg-primary py-8 md:py-12 lg:py-16">
  <div class="container">
    <div class="w-full max-w-xl mx-auto text-center mb-8 md:mb-16">
      {# @INTEGRATION - This can be manually updated or use {{ post.content }} to pull WordPress content in #}
      <span class="block mb-2 font-bold text-white text-2xl lg:text-3xl">Areas We Cover</span>
      <p class="text-white opacity-50 text-base md:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non tempor nisi. In eu ante sit amet felis.</p>
    </div>
    <div class="flex flex-wrap md:-mx-4">
      {% for location in locations %}
        <div class="
          w-full md:w-1/2 lg:w-4/12 md:px-4 border-b border-gray-300 border-opacity-25
          {% if loop.index != 2 and loop.index != 4 and loop.index != 6 %}md:border-r{% endif %}
          {% if loop.index != 4 %}lg:border-r-0{% endif %}
          {% if loop.index != 3 and loop.index != 6 %}lg:border-r{% endif %}

          {% if loop.index != 1 and loop.index != 2 and loop.index != 3 and loop.index != 4 %}md:border-b-0{% endif %}
          {% if loop.index != 1 and loop.index != 2 and loop.index != 3 %}lg:border-b-0{% endif %}
        ">
          <div class="px-6 py-2 md:px-8 md:py-4 lg:py-6">
            <span class="text-secondary text-sm block uppercase tracking-wider">{{ location.title }}</span>

            {% if fractal %}
              <a href="tel:{{ location.number }}" class="text-white hover:text-secondary focus:text-secondary block font-bold text-lg md:text-xl">{{ location.number }}</a>
            {% else %}
              <span class="text-white block font-bold text-lg md:text-xl">
                {% do action("ld_single", location.slug, false) %}
              </span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>