{# Vacancies - Variant 1 #}
<div class="bg-gray-100 py-6">
  <div class="container">
    <div class="flex flex-wrap md:-mx-5">
      {% for vacancy in vacancies %}
        <div class="w-full md:w-1/2 md:px-5 mb-5 md:mb-8">
          <div class="bg-white rounded-md px-10 py-10 shadow-md">
            <div class="flex flex-wrap w-full">
              <span class="block font-bold text-xl md:text-2xl text-primary border-b border-gray-200 pb-4 mb-5 leading-tight w-full">{{ vacancy.title }}</span>
            
              <div class="prose prose-sm max-w-none text-primary mb-8 w-full">
                {{ vacancy.description }}
              </div>

              <a href="#" class="bg-secondary rounded text-white px-4 py-2 ml-auto">Apply Now</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>