{# Why Choose Us - Variant 1 #}
<div class="bg-white py-6 relative">
  <div class="bg-primary w-full h-20 absolute top-0 left-0 right-0 z-0"></div>
  <div class="container relative z-10">
    <div class="flex flex-wrap md:-mx-5">
      {% for usp in whyChooseUs %}
        <div class="w-full md:w-1/4 md:px-5 mb-5 md:mb-0">
          <div class="bg-gray-100 px-8 py-6">
            <span class="block leading-tight text-primary">{{ usp.text }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>