{# Gallery - Variant 1 #}
<div class="bg-primary py-8">
  <div class="container">
    <div class="w-full relative">
      <div class="h-full absolute top-0 left-0 flex items-center">
        <button class="bg-white block px-3 py-1 font-bold"><</button>
      </div>
      <div class="h-full absolute top-0 right-0 flex items-center">
        <button class="bg-white block px-3 py-1 font-bold">></button>
      </div>
      <div class="w-10/12 lg:w-11/12 mx-auto">
        <div class="flex flex-wrap md:-mx-4">
          {% for item in gallery %}
            <div class="w-full md:w-1/3 lg:w-1/5 md:px-4 mb-4 lg:mb-0">
              <div class="w-full">
                <img class="block w-full border-8 border-white" src="{{ item.image.src }}" alt="{{ item.image.title }}" />
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>