{# Buckets - Variant 2 #}
<div class="py-8 bg-gray-200">
  <div class="container">
    <div class="flex flex-wrap overflow-x-hidden md:-mx-5">
      {% for bucket in buckets %}
        <a href="{{ bucket.link }}" class="w-full mb-8 md:w-1/2 lg:w-1/4 md:px-5 lg:mb-0 group">
          <div class="bg-white rounded-lg">
            <div class="flex flex-wrap justify-center">
              {% if bucket.thumbnail %}
                {% if fractal %}
                  <div class="w-full">
                    <img class="block w-full mb-4 rounded-t-lg" src="{{ bucket.thumbnail.src }}" alt="{{ bucket.thumbnail.title }}" />
                  </div>
                {% else %}
                  <div class="w-full">
                    {% include "_components/picture.twig" with {
                      source: bucket.thumbnail.src,
                      pictureClasses: "lazyload w-full block",
                      lazyload: true,
                      breakpoints: {
                        "1280px" : {
                          classes: 'w-full rounded-t-lg object-cover',
                          w: 500,
                          h: 250,
                          crop: 'center'
                        },
                      },
                      img: {
                        classes: 'w-full rounded-t-lg object-cover lazyload',
                        alt: bucket.thumbnail.title,
                        w: 500,
                        h: 200,
                        crop: 'center',
                      }
                    } %}
                  </div>
                {% endif %}
              {% endif %}

              {% if bucket.post_title %}
                <div class="flex flex-wrap items-center w-full p-4">
                  <span class="flex-1 block text-xl leading-tight tracking-wider uppercase md:text-2xl group-hover:text-primary group-focus:text-primary">{{ bucket.post_title }}</span>

                  <span class="block px-3 py-1 ml-auto text-center text-white border-2 border-transparent rounded-md bg-secondary group-hover:bg-primary group-focus:bg-primary">&raquo;</span>
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>