{# Content Area - Variant 1 #}
<div class="bg-gray-100 overflow-hidden">
  <div class="container py-6 md:py-10">
    <div class="flex flex-wrap md:-mx-8">
      <div class="w-full md:w-7/12 md:px-8 mb-8 md:mb-0">
        <div class="prose-sm md:prose text-primary max-w-none md:max-w-none">
          <h1>Welcome to Location Services</h1>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue odio urna, eu pulvinar elit fermentum et. Sed convallis fringilla velit. Integer at orci at eros ullamcorper lacinia ac.</p>

          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Sed nec dolor quis arcu suscipit tincidunt</li>
            <li>Fusce mi ipsum, placerat ac eros at</li>
          </ul>
          
          <p>Sed nec dolor quis arcu suscipit tincidunt. Nullam consectetur justo quis volutpat fringilla. Phasellus at lobortis metus, ac pulvinar ligula. Fusce mi ipsum, placerat ac eros at, fermentum facilisis nulla. Etiam quis dui ex.</p>

          <p>Aenean ac sem a ligula aliquam fermentum. Maecenas at felis eu tortor sodales ultricies. Praesent a pulvinar purus. Nam tincidunt facilisis lobortis.</p>
        </div>
      </div> 

      <div class="w-full md:w-5/12 md:px-8">
        <div class="flex flex-wrap md:-mx-3">
          <div class="w-full md:flex-1 md:px-3 mb-5">
            <a href="#" class="rounded-md bg-white h-full block p-8 uppercase tracking-wider text-center hover:text-secondary focus:text-secondary">
              <span class="flex items-center justify-center w-20 h-20 mx-auto mb-6 bg-secondary rounded-full text-white">[]</span>
              View Details About <span class="font-bold">This Service</span>
            </a>
          </div>

          <div class="w-full md:flex-1 md:px-3 mb-5">
            <a href="#" class="rounded-md bg-white h-full block p-8 uppercase tracking-wider text-center hover:text-secondary focus:text-secondary">
              <span class="flex items-center justify-center w-20 h-20 mx-auto mb-6 bg-secondary rounded-full text-white">[]</span>
              Click Here <span class="font-bold">Do Something</span>
            </a>
          </div>

          <div class="w-full md:px-3">
            <a href="#" class="rounded-md bg-white block hover:text-secondary focus:text-secondary">
              <div class="flex flex-wrap">
                <div class="w-1/2">
                  <img src="https://placedog.net/650/550" src="What Our Clients Think" class="w-full rounded-l-md object-cover h-full" />
                </div>
                
                <div class="w-1/2 p-8 flex flex-wrap justify-end">
                  <span class="uppercase tracking-wider text-right text-lg lg:text-xl block pb-4">What <span class="font-bold">Our Clients</span> Think</span>

                  <span class="block text-secondary text-right mt-auto">Rated <span class="font-bold">4.9</span> from 93 reviews</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>