{# Content Area - Variant 2 #}
<div class="bg-white overflow-hidden">
  <div class="container py-6 md:py-10">
    <div class="flex flex-wrap md:-mx-6 lg:-mx-8 items-center">
      <div class="w-full md:w-5/12 lg:w-7/12 md:px-6 lg:px-8 order-2 md:order-1">
        <div class="flex flex-wrap sm:-mx-5">
          <div class="w-full sm:w-1/2 md:w-full lg:w-1/2 sm:px-5 mb-6 sm:mb-0 md:mb-5 lg:mb-0">
            <img src="https://placedog.net/650/850" src="Image 1" class="w-full" />
          </div>
          <div class="w-full sm:w-1/2 md:w-full lg:w-1/2 sm:px-5">
            <img src="https://placedog.net/650/850" src="Image 2" class="w-full" />
          </div>
        </div>
      </div>

      <div class="w-full md:w-7/12 lg:w-5/12 md:px-6 lg:px-8 mb-8 md:mb-0 order-1 md:order-2">
        <div class="prose-sm md:prose text-primary max-w-none md:max-w-none">
          <span class="block text-secondary uppercase text-sm tracking-wider">welcome to</span>
          <h1>Services in Location</h1>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu lectus interdum eros sodales ultrices malesuada suscipit odio. Nulla commodo ligula sit amet leo laoreet, in auctor lorem congue. Aliquam feugiat, neque eu feugiat faucibus, risus justo egestas magna, vel semper magna odio id lacus. Nam dapibus quam vitae accumsan pharetra.</p>

          <p>Fusce id maximus tellus. Mauris viverra, risus ac euismod commodo, nulla mi rutrum purus, sit amet posuere nulla dui at ligula. Nam eu lorem malesuada, varius ipsum non, interdum ex. Maecenas molestie turpis ipsum. Nam sodales non tortor quis hendrerit. Aliquam laoreet ut lacus feugiat dapibus. Nam enim erat, condimentum eget mi quis.</p>
        </div>
      </div>
    </div>
  </div>
</div>