{# Content Area - Variant 1 #}
<div class="bg-white overflow-hidden">
  <div class="container py-6 md:py-10">
    <div class="flex flex-wrap md:-mx-8 items-center">
      <div class="w-full md:w-7/12 md:px-8 mb-8 md:mb-0">
        <div class="prose-sm md:prose text-primary max-w-none md:max-w-none">
          <h1>Services in Location</h1>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue odio urna, eu pulvinar elit fermentum et. Sed convallis fringilla velit. Integer at orci at eros ullamcorper lacinia ac.</p>
          
          <p>Sed nec dolor quis arcu suscipit tincidunt. Nullam consectetur justo quis volutpat fringilla. Phasellus at lobortis metus, ac pulvinar ligula. Fusce mi ipsum, placerat ac eros at, fermentum facilisis nulla. Etiam quis dui ex.</p>

          <p>Aenean ac sem a ligula aliquam fermentum. Maecenas at felis eu tortor sodales ultricies. Praesent a pulvinar purus. Nam tincidunt facilisis lobortis.</p>
        </div>
      </div> 

      <div class="w-full md:w-5/12 md:px-8">
        <div class="bg-gray-100 p-8 lg:p-12 text-primary">
          <span class="block font-bold text-lg md:text-xl xl:text-2xl mb-3">Why Choose Us?</span>
          <ul>
            <li class="py-3 border-b border-gray-300">Lorem <span class="font-bold">ipsum dolor</span> sit amet</li>
            <li class="py-3 border-b border-gray-300"><span class="font-bold">Aenean eu nisi</span> ut nulla fringilla varius</li>
            <li class="py-3 border-b border-gray-300"><span class="font-bold">Aenean eu nisi</span> ut nulla fringilla varius</li>
            <li class="py-3">Lorem <span class="font-bold">ipsum dolor</span> sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>