{# Downloads - Variant 1 #}
<div class="bg-primary p-4">
  <div class="border border-primary-light border-opacity-25">
    <div class="bg-white py-4 p-3">
      <span class="block text-lg font-bold uppercase tracking-wider text-primary">Downloads Section</span>
    </div>

    <ul>
      {% for download in downloads %}
        <li class="block">
          <a href="{{ download.url }}" class="block text-white p-3 hover:text-secondary focus:text-secondary transition-all ease-in-out duration-300 hover:pl-5{{ loop.index % 2 == 1 ? ' bg-primary' : ' bg-primary-dark' }}">
            {{ download.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>