{# Video - Variant 2 #}
<div class="bg-gray-100 overflow-hidden">
  <div class="container py-8 md:py-10">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-5/12 order-2 md:order-1 lg:-mr-12 z-10">
        <div class="text-primary md:p-6 lg:p-8 md:bg-white">
          <span class="block uppercase tracking-wider text-secondary">Watch now</span>
          <span class="block mb-4 font-bold text-2xl lg:text-3xl">Video About Service</span>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue odio urna, eu pulvinar elit fermentum et. Sed convallis fringilla velit. Integer at orci at eros ullamcorper lacinia ac.</p>
        </div>
      </div>
      <div class="w-full md:w-7/12 order-1 md:order-2 mb-4 md:mb-0">
        <video controls class="w-full mb-5 md:mb-0">
          <source src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
    </div>
  </div>
</div>