{# Video - Variant 1 #}
<div class="bg-white overflow-hidden">
  <div class="container py-6 md:py-10">
    <div class="flex flex-wrap md:-mx-8">
      <div class="w-full md:w-1/2 md:px-8">
        <video controls class="w-full mb-5 md:mb-0">
          <source src="https://file-examples-com.github.io/uploads/2017/04/file_example_MP4_1280_10MG.mp4" type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
      <div class="w-full md:w-1/2 md:px-8 mb-8 md:mb-0">
        <div class="prose-sm md:prose text-primary">
          <span class="block uppercase tracking-wider text-secondary">Welcome to</span>
          <h1>Services in Location</h1>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue odio urna, eu pulvinar elit fermentum et. Sed convallis fringilla velit. Integer at orci at eros ullamcorper lacinia ac.</p>
          
          <p>Sed nec dolor quis arcu suscipit tincidunt. Nullam consectetur justo quis volutpat fringilla. Phasellus at lobortis metus, ac pulvinar ligula. Fusce mi ipsum, placerat ac eros at, fermentum facilisis nulla. Etiam quis dui ex.</p>

          <p>Aenean ac sem a ligula aliquam fermentum. Maecenas at felis eu tortor sodales ultricies. Praesent a pulvinar purus. Nam tincidunt facilisis lobortis.</p>
        </div>
      </div>
    </div>
  </div>
</div>